{% extends "layout.html" %}
{% block content %}

<form action="/login" method="post">

    <div>
        <label for="email" class="form-label">Ingrese su correo electronico</label>
        <input type="email" name="correo" id="correo" placeholder="Correo Electronico">
    </div>
    <div>
        <label for="password" class="form-label">Ingrese su contraseña</label>
        <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña">
    </div>

    <button type="submit" name="confirmar" id="confirmar">confirmar</button>

</form>

{% endblock %}