#encabezado {
    font: bold 50px impact;
    color: rgb(19, 48, 82);
}

nav {
    color: rgb(64, 64, 82);
    background: rgb(73, 74, 85);
    overflow: hidden;
    margin: 10px auto;
}

nav ul {
    list-style: none;
}

nav ul li {
    float: left;
    padding: 10px 20px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.main .articles {
    width: 60%;
    margin-right: 1.5%;
    background: rgb(255, 255, 255);
    float: left;
}

.main .articles article {
    padding: 10px;
    background: rgb(73, 74, 85);
    margin-bottom: 10px;
}

body {
    font: 18px arial;
    color: rgb(0, 0, 0);
}

footer {

    clear: both;
    background: rgb(73, 74, 85);
    color: white;
    padding: 5px;
    text-align: center;
}

#texto {
    font: 18px arial;
    color: rgb(255, 255, 255);
}